.frameBorder {
    width: 600px;
    padding: 6px 6px 2px 6px;
    /* background: url(../Resources/Images/Slick.jpg);
    -webkit-animation: stripes 20s linear infinite;
    animation: stripes 20s linear infinite; */
    display: inline-block;
}

.frameBorderColour {
  width: 600px;
  padding: 6px 6px 2px 6px;
  background: url(../Resources/Images/Slick.jpg);
  -webkit-animation: stripes 20s linear infinite;
  animation: stripes 20s linear infinite;
  display: inline-block;
}

.panel {
  width: calc(50% - 306px);
  height: 450px;
  display: inline-block;
}

.switch {
  width: 60%;
  border-radius: 3px;
  height: 450px;
  margin: 0 auto;
  background-color: blue;
}

@-webkit-keyframes stripes {
    100% {
      background-position: 400px 500px;
    }
  }
  @keyframes stripes {
    0% {
    background-position: 0px 0px;
    }
    100% {
      background-position: 500px -500px;
    }
  }